<div class="subscribe-form">
    <h3>Subscribe to my blog (BETA) </h3>
    <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" 
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=npnkhoi/sg402ynxff1', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <input type="hidden" value="YourFeedID" name="uri"/>
      <input type="hidden" name="loc" value="en_US"/>
      <input type="email" placeholder="Enter your email" name="email"/>
      <input type="submit" value="Subscribe" />
    </form>
  </div>